.App {
  text-align: left;
}

.App-logo {

}

.header {
  transform: translate(160%, 0%);
  border-radius: 5px;
  border: 2px solid #010203;
  padding: 5px;
  width: 450px;
  background: #1e5c99;
  font-family: "Lucida Console", monospace;
}

.header2 {
  transform: translate(90%, 0%);
  border-radius: 5px;
  border: 2px solid #010203;
  padding: 5px;
  width: 666px;
  background: #1e5c99
}

.centeredform {
  transform: translate(43%, -10%);
}

.tablepos {
  left: 0%;
}


.bgimg {
    background-image: url("climbing_background.jpg");
    height: 1100px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background size: cover;
}

.btn-toolbars {
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.formUser {
  border-radius: 25px;
    border: 2px solid #1ed8d4;
    padding: 20px;
    width: 250px;

}

.inputBox {
  border: 2px solid black;
    border-radius: 4px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
